# Desafío APIs

En este desafío decidí utilizar la API de Google Maps, la cual permite extraer información detallada de la ciudad de Sydney, como por ejemplo la densidad de restaurantes, hoteles y atracciones turísticas en una zona determinada.

El código a continuación permite obtener la dirección de un lugar dadas sus coordenadas. El mismo contiene una función que toma como parametros las coordenadas y la API Key para poder devolver la dirección que se halla en Google Maps.

In [94]:
import requests

def reverse_geocode(lat, lng, api_key):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lng}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    
    if response.status_code == 200 and data['status'] == 'OK':
        results = data['results']
        if results:
            return results[0]['formatted_address']
    
    return None

# Inserta tu clave de API de Google Maps aquí
api_key = 'AIzaSyBYbvHs2aVfkXKkM4jjW_GFV2S9nAg-DWs'

# Coordenadas de Sydney
lat = -33.865143
lng = 151.209900

direccion = reverse_geocode(lat, lng, api_key)

if direccion:
    print(f"Dirección: {direccion}")
else:
    print("No se pudo obtener la dirección.")

Dirección: Mezzanine Level, 12 O'Connell St, Sydney NSW 2000, Australia

El siguiente código se enfoca en poder buscar atracciones, hoteles y restaurantes en cierta región del mapa.

El código obtiene datos para los tipos de lugares especificados (restaurantes, hoteles y atracciones) dentro de un radio de 40 km alrededor de Sydney. Extrae la información para cada lugar, incluyendo el nombre, la calificación, la longitud, la latitud, el tipo de lugar y el barrio.

In [95]:
import requests
import pandas as pd

API_KEY = "AIzaSyBYbvHs2aVfkXKkM4jjW_GFV2S9nAg-DWs"

# Coordenadas de Sydney y radio en el que se busca
location = "-33.8675,151.2070"
radius = 10000

# Tipos de lugares que se buscaran
types = ["restaurant", "hotel", "tourist_attraction"]

# Lista vacia donde se agregan los resultados
data_list = []

for place_type in types:
    # Fetch the places data from Google Maps API
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location}&radius={radius}&type={place_type}&key={API_KEY}"
    response = requests.get(url)
    data = response.json()

    
    for result in data["results"]:
        name = result.get("name", "")
        rating = result.get("rating", "")
        latitude = result["geometry"]["location"]["lat"]
        longitude = result["geometry"]["location"]["lng"]
        neighborhood = result.get("plus_code", {}).get("compound_code", "")
        is_hotel = 1 if place_type == "hotel" else 0
        is_restaurant = 1 if place_type == "restaurant" else 0
        is_attraction = 1 if place_type == "tourist_attraction" else 0

        # agregar lugar a la lista
        data_list.append({
            "place_name": name,
            "place_rating": rating,
            "place_longitude": longitude,
            "place_latitude": latitude,
            "hotel": is_hotel,
            "restaurant": is_restaurant,
            "attraction": is_attraction,
            "place_neighborhood": neighborhood
        })

# creo el dataframe
places_df = pd.DataFrame(data_list)

print(places_df)

                               place_name place_rating  place_longitude  \
0                               QT Sydney          4.6       151.207549
1           Sir Stamford at Circular Quay          4.4       151.212783
2              Amora Hotel Jamison Sydney          4.2       151.206295
3                        Swissôtel Sydney          4.3       151.207456
4             The Little Snail Restaurant          4.5       151.197924
5              Castlereagh Boutique Hotel          3.9       151.209073
6               Nick's Seafood Restaurant            4       151.202303
7                    Steersons Steakhouse          4.3       151.201582
8                Infinity at Sydney Tower          4.2       151.208923
9       Rendezvous Hotel Sydney The Rocks          3.9       151.207803
10         Sydney Harbour Bed & Breakfast            4       151.206614
11                          Nomads Sydney          3.9       151.204963
12                  Pancakes On The Rocks            4       151.208350
13      Georges Mediterranean Bar & Grill          3.9       151.201411
14                   Adria Bar Restaurant          3.6       151.202144
15                   I'm Angus Steakhouse          3.8       151.202326
16                   Rockpool Bar & Grill          4.4       151.210204
17                        Bistro Papillon          4.5       151.205303
18                         Thanon Khaosan            4       151.207222
19                  The Bavarian York St.          4.1       151.206147
20                                 Sydney                    151.209295
21                       The Grace Sydney          4.3       151.205897
22                     The Menzies Sydney          3.5       151.206592
23                              QT Sydney          4.6       151.207549
24               Sofitel Sydney Wentworth          4.2       151.210870
25      The Sebel Quay West Suites Sydney          4.5       151.206939
26              Four Seasons Hotel Sydney          4.5       151.207650
27  InterContinental Sydney, an IHG Hotel          4.3       151.212236
28          Sir Stamford at Circular Quay          4.4       151.212783
29                   Fraser Suites Sydney          4.3       151.205518
30         YHA Sydney Harbour - The Rocks          4.5       151.206942
31                    Harbour Rocks Hotel          4.3       151.208141
32            ibis Sydney Darling Harbour          3.9       151.197825
33  Rydges Darling Square Apartment Hotel          4.2       151.204673
34      Novotel Sydney on Darling Harbour          4.2       151.197857
35     Meriton Suites World Tower, Sydney          4.3       151.206883
36      PARKROYAL Darling Harbour, Sydney          4.3       151.203577
37              Rydges World Square Hotel          4.2       151.207495
38             Amora Hotel Jamison Sydney          4.2       151.206295
39                                 Sydney                    151.209694
40   Museum of Contemporary Art Australia          4.4       151.209030
41                        Darling Harbour          4.6       151.200900
42               SEA LIFE Sydney Aquarium          4.3       151.202138
43                   WILD LIFE Sydney Zoo          4.1       151.201703
44                               The Mint          4.2       151.212616
45    Australian National Maritime Museum          4.6       151.198633
46                    St Mary's Cathedral          4.7       151.213325
47         Art Gallery of New South Wales          4.7       151.217414
48                       Museum of Sydney            4       151.211603
49                       Sydney Tower Eye          4.4       151.208880
50                     Hyde Park Barracks          4.6       151.212585
51                 St. Andrew's Cathedral          4.6       151.206345
52        Saint Patrick's Catholic Church          4.8       151.205982
53                       Magistic Cruises          4.1       151.201730
54          Harbour View Hotel, The Rocks          4.2       151.207343
55                              Hyde Park          4.6       151.211276
56       Scots Presbyterian Church Sydney          4.6       151.205812
57                     BridgeClimb Sydney          4.7       151.207775
58                         Tumbalong Park          4.6       151.201727
59            Royal Botanic Garden Sydney          4.7       151.216571

    place_latitude  hotel  restaurant  attraction  \
0       -33.870906      0           1           0
1       -33.862245      0           1           0
2       -33.864458      0           1           0
3       -33.870264      0           1           0
4       -33.870383      0           1           0
5       -33.872583      0           1           0
6       -33.872286      0           1           0
7       -33.866685      0           1           0
8       -33.870495      0           1           0
9       -33.859848      0           1           0
10      -33.860571      0           1           0
11      -33.873212      0           1           0
12      -33.858832      0           1           0
13      -33.866664      0           1           0
14      -33.871732      0           1           0
15      -33.871997      0           1           0
16      -33.866098      0           1           0
17      -33.867969      0           1           0
18      -33.878333      0           1           0
19      -33.868260      0           1           0
20      -33.868820      1           0           0
21      -33.868866      1           0           0
22      -33.865688      1           0           0
23      -33.870906      1           0           0
24      -33.865328      1           0           0
25      -33.861692      1           0           0
26      -33.861581      1           0           0
27      -33.862896      1           0           0
28      -33.862245      1           0           0
29      -33.874843      1           0           0
30      -33.859953      1           0           0
31      -33.859628      1           0           0
32      -33.871140      1           0           0
33      -33.875904      1           0           0
34      -33.872252      1           0           0
35      -33.876613      1           0           0
36      -33.873553      1           0           0
37      -33.876965      1           0           0
38      -33.864458      1           0           0
39      -33.869074      1           0           0
40      -33.859936      0           0           1
41      -33.874880      0           0           1
42      -33.869600      0           0           1
43      -33.869413      0           0           1
44      -33.868932      0           0           1
45      -33.869357      0           0           1
46      -33.871190      0           0           1
47      -33.868804      0           0           1
48      -33.863633      0           0           1
49      -33.870315      0           0           1
50      -33.869604      0           0           1
51      -33.873934      0           0           1
52      -33.863151      0           0           1
53      -33.867703      0           0           1
54      -33.856598      0           0           1
55      -33.873138      0           0           1
56      -33.864810      0           0           1
57      -33.857439      0           0           1
58      -33.875688      0           0           1
59      -33.864186      0           0           1

                    place_neighborhood
0        46H5+J2 Sydney NSW, Australia
1        46Q7+44 Sydney NSW, Australia
2        46P4+6G Sydney NSW, Australia
3        46H4+VX Sydney NSW, Australia
4       45HX+R5 Pyrmont NSW, Australia
5        46G5+XJ Sydney NSW, Australia
6        46H2+3W Sydney NSW, Australia
7        46M2+8J Sydney NSW, Australia
8        46H5+RH Sydney NSW, Australia
9     46R5+34 The Rocks NSW, Australia
10    46Q4+QJ The Rocks NSW, Australia
11       46G3+PX Sydney NSW, Australia
12    46R5+F8 The Rocks NSW, Australia
13       46M2+8H Sydney NSW, Australia
14       46H2+8V Sydney NSW, Australia
15       46H2+6W Sydney NSW, Australia
16       46M6+H3 Sydney NSW, Australia
17       46J4+R4 Sydney NSW, Australia
18    46C4+MV Haymarket NSW, Australia
19       46J4+MF Sydney NSW, Australia
20
21       46J4+F9 Sydney NSW, Australia
22       46M4+PJ Sydney NSW, Australia
23       46H5+J2 Sydney NSW, Australia
24       46M6+V8 Sydney NSW, Australia
25    46Q4+8Q The Rocks NSW, Australia
26    46Q5+93 The Rocks NSW, Australia
27       46P6+RV Sydney NSW, Australia
28       46Q7+44 Sydney NSW, Australia
29       46G4+36 Sydney NSW, Australia
30    46R4+2Q The Rocks NSW, Australia
31    46R5+47 The Rocks NSW, Australia
32      45HX+G4 Pyrmont NSW, Australia
33       46F3+JV Sydney NSW, Australia
34       45HX+34 Sydney NSW, Australia
35       46F4+9Q Sydney NSW, Australia
36       46G3+HC Sydney NSW, Australia
37       46F4+6X Sydney NSW, Australia
38       46P4+6G Sydney NSW, Australia
39
40    46R5+2J The Rocks NSW, Australia
41       46G2+29 Sydney NSW, Australia
42       46J2+5V Sydney NSW, Australia
43       46J2+6M Sydney NSW, Australia
44       46J7+C2 Sydney NSW, Australia
45       45JX+7F Sydney NSW, Australia
46       46H7+G8 Sydney NSW, Australia
47       46J8+FX Sydney NSW, Australia
48       46P6+GJ Sydney NSW, Australia
49       46H5+VH Sydney NSW, Australia
50       46J7+52 Sydney NSW, Australia
51       46G4+CG Sydney NSW, Australia
52    46P4+P9 The Rocks NSW, Australia
53       46J2+WM Sydney NSW, Australia
54  46V4+9W Dawes Point NSW, Australia
55       46G6+PG Sydney NSW, Australia
56       46P4+38 Sydney NSW, Australia
57    46V5+24 The Rocks NSW, Australia
58       46F2+PM Sydney NSW, Australia
59       46P8+8J Sydney NSW, Australia

In [96]:
places_df.head()

,place_name,place_rating,place_longitude,place_latitude,hotel,restaurant,attraction,place_neighborhood
0,QT Sydney,4.6,151.207549,-33.870906,0,1,0,"46H5+J2 Sydney NSW, Australia"
1,Sir Stamford at Circular Quay,4.4,151.212783,-33.862245,0,1,0,"46Q7+44 Sydney NSW, Australia"
2,Amora Hotel Jamison Sydney,4.2,151.206295,-33.864458,0,1,0,"46P4+6G Sydney NSW, Australia"
3,Swissôtel Sydney,4.3,151.207456,-33.870264,0,1,0,"46H4+VX Sydney NSW, Australia"
4,The Little Snail Restaurant,4.5,151.197924,-33.870383,0,1,0,"45HX+R5 Pyrmont NSW, Australia"

In [100]:
places_df.shape

(60, 8)

In [101]:
places_df.columns

Index(['place_name', 'place_rating', 'place_longitude', 'place_latitude',
       'hotel', 'restaurant', 'attraction', 'place_neighborhood'],
      dtype='object')

In [102]:
places_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   place_name          60 non-null     object
 1   place_rating        60 non-null     object
 2   place_longitude     60 non-null     float64
 3   place_latitude      60 non-null     float64
 4   hotel               60 non-null     int64
 5   restaurant          60 non-null     int64
 6   attraction          60 non-null     int64
 7   place_neighborhood  60 non-null     object
dtypes: float64(2), int64(3), object(3)
memory usage: 3.9+ KB

In [103]:
places_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
place_name,60,56,QT Sydney,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
place_rating,60.0,14.0,4.6,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
place_longitude,60.0,NaN,NaN,NaN,151.206741,0.004352,151.197825,151.204399,151.20694,151.20904,151.217414
place_latitude,60.0,NaN,NaN,NaN,-33.867976,0.00535,-33.878333,-33.871798,-33.868899,-33.864048,-33.856598
hotel,60.0,NaN,NaN,NaN,0.333333,0.475383,0.0,0.0,0.0,1.0,1.0
restaurant,60.0,NaN,NaN,NaN,0.333333,0.475383,0.0,0.0,0.0,1.0,1.0
attraction,60.0,NaN,NaN,NaN,0.333333,0.475383,0.0,0.0,0.0,1.0,1.0
place_neighborhood,60,56,"46H5+J2 Sydney NSW, Australia",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

El dataframe tiene muy pocas filas, claramente por una limitacion en la API de Google Maps a ser resuelta.